/* NAVIGATION */
.navigation{
    position: fixed;
    z-index: 20;
    top: 0px;
    left: 0px;
    right: 0px;
    transition: 0.3s all ease-in-out;
    padding: 20px 0px;
}

.navigation a{
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

.navigation .logo{
    cursor: pointer;
}

.navigation .logo img{
    width: 213px;
    height: auto;
    transition: 0.3s all ease-in-out;
}

.navCentre{
    float: left;   
    width: 20%;
    text-align: center;
    transition: 0.3s all ease-in-out;
}

.navLeft{
    float: left;
    width: 40%;
    text-align: right;
    padding: 54px 0px;
    transition: 0.3s all ease-in-out;
}

.navLeft a{
    padding-right: 50px;
}

.navRight{
    float: left;
    width: 40%;
    text-align: left;
    padding: 54px 0px;
    transition: 0.3s all ease-in-out;
}

.navRight a{
    padding-left: 50px;
}

.navigationRightMobileMenu{
    float: right;
    padding: 27px 0px;
    display: none;
}

.menu-btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border: none;
}

.menu-btn__line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #C9AB81;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.menu-btn.active .menu-btn__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-btn.active .menu-btn__line:nth-child(2) {
    opacity: 0;
}

.menu-btn.active .menu-btn__line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.mobilemenucontent{
    padding: 20px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: -500%;
    transition: 0.25s all ease-in-out;
    background-color: #fff;
    opacity: 0;
}

.mobilemenucontent a{
    display: block;
    padding: 10px 0px;
}

.mobilemenucontent.active{
    top: 100%;
    opacity: 1;
}

/* NAVIGATION FIXED */
.navigation.fixed{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));   
    background-color: #fff;
}

.navigation.fixed .logo img{
    width: 140px;
}

.navigation.fixed .navLeft{
    padding: 30px 0px;
    width: 45%;
}

.navigation.fixed .navRight{
    padding: 30px 0px;
    width: 45%;
}

.navigation.fixed .navCentre{
    width: 10%;
}

/* HEADER ACCUEIL */
.headerPage {
    position: relative;
}

.headerPage .inner{
    max-width: 1920px;
}

.headerPageContent {
    position: relative;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    height: 650px;
}

.headerAccueil .headerPageContent{
    height: 1080px;
}

.headerPageTitle {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    padding: 0px 200px 0px 300px;
    width: calc(75% - 500px);
    z-index: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0.8267682072829132) 0%, rgba(255,255,255,0.8071603641456583) 57%, rgba(0,212,255,0) 100%);
}

.headerPageP{
    padding-right: 300px;
}

.headerPageLien{
    padding-top: 20px;
}

.pageContent {
    margin: 0px auto;
    max-width: 1200px;
    padding: 50px 0px 220px 0px;
}

.pageContent img{
    max-width: 100%;
    height: auto !important;
}

.pageContent ul, .pageContent ol{
    margin-left: 20px;
    color: #3C5760;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 28px;
}

.pageContent a{
    opacity: 1;
    text-decoration: underline;
    font-weight: bold; 
}

/* PATERN 1 */
.patern1 .inner{
    height: 49px;
    max-width: 1920px;
    background: url(../img/patern1.png); 
}

/* QUALITY HOME */
.quality .inner{
    padding: 80px 0px 120px 0px;
    max-width: 1210px;
}

.qualityLeft{
    float: left;
    width: 50%;
    position: relative;
}

.qualityLeft img{
    max-width: 100%;
    z-index: 5;
    position: relative;
}

.qualityRight{
    padding-top: 50px;
    float: left;
    width: 50%;
}

.qualityRightContent{
    padding-bottom: 15px;
}

.patern2{
    position: absolute;
    left: -120px;
    bottom: -120px;
    width: 301px;
    height: 310px;
    background: url(../img/patern2.png) no-repeat;
    z-index: 1;
}

/* MENUS HOME */
.menusHome .inner{
    padding: 50px 0px 80px 0px;
    max-width: 1210px;
    display: flex;
    justify-content:space-between;

}

.menuHome{
    position: relative;
    transition: 0.3s all ease-in-out;
    opacity: 1;
    z-index: 5;
    width: calc((100% / 4) - 16px);
    margin: 0px 8px;
}

.menuHome img{
    width: 100%;
}

.menuHome a{
    display: flex;
    align-items:flex-end;
    justify-content:center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding-bottom: 40px;
    z-index: 5;
    font-weight: 700;
    font-size: 23px;
    text-shadow: #000 1px 0 5px;
}

.menuHome:hover{
    opacity: 0.6;
}

.patern3{
    height: 100px;
    width: 100px;
    position: absolute;
    right: -90px;
    bottom: 129px;
    height: 309px;
    width: 191px;
    background: url(../img/patern3.png) no-repeat;
    z-index: 1;
}

/* PHILOSOPHY */
.philosophy .inner{
    padding: 80px 0px 290px 0px;
    max-width: 1210px;
}

.philosophyLeft{
    float: left;
    width: 50%;
    position: relative;
    padding-top: 100px;
}

.philosophyRight{
    float: left;
    width: 50%;
    position: relative;
}

.philosophyRight img{
    max-width: 100%;
}

.philosophyRightImg2{
    position: absolute;
    right: -80px;
    bottom: -200px;
    z-index: 5;
}

.philosophyRightImg1{
    position: relative;
    float: right;
    z-index: 5;
}

.philosophyLeftContent{
    padding-bottom: 15px;
}

.patern4{
    position: absolute;
    right: 173px;
    bottom: -90px;
    height: 282px;
    width: 282px;
    z-index: 1;
    background: url(../img/patern4.png) no-repeat;
}

/* STATISTIQUES */
.statistiques .inner{
    padding: 0px 0px 100px 0px;
    max-width: 1210px;
    display: flex;
    justify-content:space-between;
}

.statistique{
    position: relative;
    padding-bottom: 45px;
    text-align: center;
}

.statistique h2{
    font-size: 75px;
    opacity: 0.7;
    font-weight: 900;
    position: relative;
    z-index: 1;
}

.statistique p{
    font-size: 28px;
    font-weight: 400;
}

/* SOCIAL */
.social .inner{
    padding: 140px 0px;
    max-width: 1210px;
    text-align: center;
}

.social{
    max-width: 1920px;
    background: url(../img/social.png) no-repeat center center;
    background-size: cover;
}

.social h2{
    color: #fff;
    margin-bottom: 30px;
}

.patern5{
    position: absolute;
    left: -330px;
    top: -150px;
    height: 321px;
    width: 398px;
    background: url(../img/patern5.png) no-repeat;
}

/* HOME VIDEO */
.homeVideo{
    position: relative;
}

.homeVideo .inner{
    padding: 100px 0px 140px 0px;
    max-width: 1210px;
    text-align: center;
}

.homeVideoIframe{
    position: relative;
    margin-bottom: 25px;
    z-index: 5;
}

.homeVideoIframe iframe{
    display: block;
    border-radius: 20px;
}

.patern6{
    position: absolute;
    right: 0px;
    bottom: -100px;
    height: 390px;
    width: 272px;
    background: url(../img/patern6.png) no-repeat;
    z-index: 1;
}

/* GALERIES */
.galeries .inner{
    max-width: 1920px;
    text-align: center;
}

.galeries .inner h2{
    margin-bottom: 40px;
}

/* INFORMATION */
.information .inner{
    padding: 80px 0px;
    max-width: 1210px;
}

.informationLeft{
    float: left;
    width: 50%;
    position: relative;
    padding-top: 100px;
}

.informationRight{
    float: left;
    width: 50%;
    position: relative;
}

.informationRight img{
    max-width: 100%;
}

.informationRightImg1{
    position: relative;
    float: right;
    z-index: 5;
}

.informationLeftContent{
    padding-bottom: 15px;
}

.patern9{
    position: absolute;
    right: -90px;
    bottom: -71px;
    height: 309px;
    width: 191px;
    background: url(../img/patern3.png) no-repeat;
    z-index: 1;
}

/* ENTREPRISE */
.entreprise .inner{
    padding: 80px 0px 100px 0px;
    max-width: 1000px;
}

.entrepriseCol{
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
    width: calc((100% / 3) - 30px);
    margin: 0px 15px;
    text-align: center;
    float: left;
    padding: 70px 0px;
    z-index: 5;
    position: relative;
}

.entrepriseCol.col1, .entrepriseCol.col3{
    margin: 60px 15px 0px 15px;
}

.entrepriseCol p{
    font-weight: 700;
    padding: 0px 15px;
}

.entrepriseCol i{
    color: #C9AB81;
    opacity: 0.6;
    font-size: 80px;
    margin-bottom: 20px;
}

.entreprisesListe{
    position: relative;
}

.patern10{
    position: absolute;
    z-index: 1;
    left: -150px;
    bottom: -70px;
    background: url(../img/patern10.png) no-repeat;
    height: 310px;
    width: 310px;
}

/* FORMULAIRE */
.formulaire .inner{
    padding: 60px 0px 80px 0px;
    max-width: 750px;
}

.formulaireTop{
    text-align: center;
    margin-bottom: 50px;
}
.formulaireContent .btnSubmit{
    width: calc(100% - 58px);
}

/* LISTE CONTENU */
.sectionliste .inner{
    max-width: 1400px;
    padding: 210px 0px 290px 0px;
}

.sectionliste .listeTitre{
    text-align: center;
    margin: 0px auto 80px auto;
    max-width: 650px;
}

.sectionliste .listeTitre h1{
    font-size: 60px;
    margin-bottom: 7px;
}

/* ACTUALITES */
.actualites{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.actualite{
    width: calc((100% / 3) - 30px);
    margin: 0px 15px;
    position: relative;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.15);
}

.actualiteImage{
    position: relative;
}

.actualiteImage img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.actualiteContenu{
    padding: 15px 30px 60px 30px;
}

.actualite .link{
    position: absolute;
    bottom: 30px;
    left: 30px;
    font-weight: 700;
}

.headerActualite h1{
    font-size: 60px;
    margin-bottom: 0px;
}

/* FOOTER */
.footer{
    background-color: #0D1315;
    position: relative;
}

.footer .inner{
    padding: 0px 0px 90px 0px;
    max-width: 1210px;
}

.footerTop{
    position: absolute;
    z-index: 5;
    top: -195px;
    left: 0px;
    right: 0px;
    height: 195px;
    background: url(../img/footertop.png) no-repeat bottom center;
}

.patern7{
    position: absolute;
    z-index: 4;
    top: -175px;
    left: 0px;
    right: 0px;
    height: 170px;
    background: url(../img/patern7.png) no-repeat bottom center;
}

.footerHeader{
    text-align: center;
    max-width: 800px;
    margin: 0px auto;
}

.footerHeader img{
    margin-bottom: 20px;
}

.footerHeader p{
    color: #F6F1EB;
}

.footerCols{
    display: flex;
    padding-top: 50px;
}

.footerCols h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    padding-top: 5px;
}

.footerCol{
    padding-right: 110px;
}

.footerCol ul li{
    list-style: none;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0px;
}

.footerCol.col2 ul li{
    display: inline-block;
    padding-right: 8px;
}

.footerCol.col2 ul li a i{
    background-color: #F6F1EB;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: #0D1315;
}

.patern8{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background:url(../img/patern8.png) no-repeat;
    height: 330px;
    width: 280px;
}


@media (max-width: 1685px) {

    .headerPageP {
        padding-right: 150px;
    }

}

@media (max-width: 1400px) {
    .headerPageP {
        padding-right: 0px;
    }

    .headerPageTitle {
        padding: 0px 100px 0px 100px;
        width: calc(75% - 200px);
    }

    .patern3 {
        right: -37px;
    }

    .philosophyRightImg2 {
        right: 0px;
    }
    
    .patern9 {
        right: -13px;
    }
    
    .headerActualite h1{
        font-size: 50px;
    }

}

@media (max-width: 1210px) {
    .quality .inner {
        padding: 80px 15px 120px 15px;
    }

    .patern9 {
        right: 0px;
    }

    .patern2 {
        left: 0px;
    }

    .menusHome .inner {
        padding: 50px 7px 80px 7px;
    }

    .patern3 {
        right: 0px;
    }

    .philosophy .inner {
        padding: 80px 15px 290px 15px;
    }

    .statistiques .inner {
        padding: 0px 15px 100px 15px;
    }

    .homeVideo .inner {
        padding: 100px 15px 140px 15px;
    }

    .homeVideoIframe iframe{
        width: 100% !important;
    }

    .pageContent {
        padding: 50px 15px 220px 15px;
    }

    .footer .inner {
        padding: 0px 15px 90px 15px;
    }

    .information .inner {
        padding: 80px 15px;
    }
}

@media (max-width: 1050px) {
    .qualityLeft {
        width: calc(50% - 30px);
        margin-right: 30px;
    }

    .patern3 {
        display: none;
    }

    .philosophyRight{
        width: calc(50% - 30px);
        margin-left: 30px;
    }

    .patern6 {
        opacity: 0.4;
    }

    .entreprise .inner {
        padding: 80px 15px 100px 15px;
    }

    .actualite {
        width: calc((100% / 2) - 30px);
    }

    h1 {
        font-size: 65px;
    }

    .informationRight {
        width: calc(50% - 30px);
        margin-left: 30px;
    }

    .navigation {
        padding: 10px 15px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));   
        background-color: #fff;
    }

    .navigation .logo img{
        width: 140px;
    }
    
    .navLeft{
        display: none;
    }
    
    .navRight{
        display: none;
    }
    
    .navigation .navCentre{
        width: 40%;
        text-align: left;
    }

    .headerAccueil .headerPageContent{
        height: 750px;
    }

    .navigationRightMobileMenu{
        display: block;
    }

    .headerPageTitle {
        padding: 0px 50px;
        width: calc(80% - 100px);
    }
    

}

@media (max-width: 950px) {
    .patern4 {
        display: none;
    }

    .statistiques .inner {
        justify-content: center;
        flex-wrap: wrap;
        padding: 90px 15px 50px 15px;
    }

    .statistique {
        width: 100%;
        text-align: center;
    }

    .philosophy .inner {
        padding: 80px 15px 150px 15px;
    }

    .patern8 {
        opacity: 0.1;
    }
    
    .footerCols{
        text-align: center;
        justify-content:center;
    }

    .footerCol {
        padding: 0px 30px;
    }

    .social .inner {
        padding: 120px 15px;
        text-align: center;
    }
}

@media (max-width: 780px) {

    .headerPageTitle {
        padding: 70px 20px 0px 20px;
        width: calc(100% - 40px);
    }

    .qualityLeft {
        width: 100%;
        margin-right: 0px;
    }

    .patern2 {
        left: 330px;
        bottom: -48px;
    }

    .qualityRight {
        width: 100%;
    }

    .menuHome {
        width: calc((100% / 2) - 16px);
        margin-bottom: 8px;
    }

    .menusHome .inner{
        justify-content:center;
        flex-wrap: wrap;
        padding: 20px 7px 40px 7px;
    }

    .philosophyLeft {
        width: 100%;
        padding-top: 0px;
    }

    .philosophyRight {
        display: none;
    }

    .philosophy .inner {
        padding: 80px 15px;
    }

    .informationLeft {
        width: 100%;
        padding-top: 0px;
    }

    .informationRight {
        width: 100%;
        margin-left: 0px;
    }

    .philosophyRightImg1 {
        float: left;
    }

    .patern9 {
        right: 109px;
    }

    .entrepriseCol.col1, .entrepriseCol.col3 {
        margin: 0px 0px 15px 0px;
    }

    .entrepriseCol {
        width: 100%;
        margin: 0px 0px 15px 0px;
        float: none;
    }

    .formulaire .inner {
        padding: 60px 15px 80px 15px;
    }

    .statistiques .inner {
        padding: 40px 15px 50px 15px;
    }

}

@media (max-width: 650px) {

    .actualite {
        width: calc((100%) - 30px);
    }

    h2 {
        font-size: 48px;
    }
}