*{
    outline: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: content-box;
}

html, body{
    width: 100%;
    height: 100%;
}

h1{
    color:#C9AB81;
    font-size: 80px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

h1 span{
    font-weight: 100;
}

h2{
    color:#C9AB81;
    font-size: 60px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

h2 span{
    font-weight: 100;
}

h3{
    color:#C9AB81;
    font-size: 23px;
    margin-bottom: 15px;
}

h3 span{
    font-weight: 100;
}

p{
    color:#3C5760;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 25px;
}

a{
    text-decoration: none;
    color: #C9AB81;
    font-size: 17px;
}

.titre{
    margin-bottom: 30px;
}

.titre h2{
    margin-bottom: 0px;
}

.titre.left{
    text-align: left;
}

.titre.centre{
    text-align: center;
}

.titre p{
    font-size: 25px;
    margin-bottom: 0px;
}

.clear{
    clear: both;
}

.inner{
    margin: 0px auto;
    position: relative;
}

input, textarea{
    background: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #019CDA;
    margin-bottom: 30px;
    font-size: 16px;
    padding: 0px 0px 12px 10px;
    color: #fff;
}

textarea{
    height: 140px;
}

.btn{
    display: inline-block;
    border: solid 1px #C9AB81;
    padding: 14px 28px;
    border-radius: 30px;
    font-weight: 400;
    transition: 0.5s all ease-in-out;
    background-color: #C9AB81;
    color: #fff;
}

.btn.blanc{
    border: solid 1px #fff;
    background-color: #fff;
    color: #0D1315;
}

.btn.link{
    border: none;
    padding-left: 0px;
}

.btn:hover{
    background-color: #fff;
    color:#C9AB81;
}

.btn.blanc:hover{
    background-color:transparent;
    color:#fff;
}

.btn.link:hover{
    background: none;
}

.btn i{
    color:#D9D9D9; 
    font-size: 15px;
    padding-left: 7px;
    transition: 0.5s all ease-in-out;
}

.btn:hover i{
    padding-left: 15px;
}

.btnform{
    border: solid 1px #019CDA;
    background: none;
    font-weight: 600;
    color: #019CDA;
    cursor: pointer;
    font-size: 17px;
}

.formsend{
    text-align: center;
}

.error{
    margin-bottom: 20px;
    background-color: #ff7675;
    padding: 20px;
    color: #fff;
    border-radius: 4px;
}

.succes{
    margin-bottom: 20px;
    background-color: #00b894;
    padding: 20px;
    color: #fff;
    border-radius: 4px;
}

.error p, .succes p{
    margin-bottom: 0px;
    color: #fff;
    opacity: 1;
}

.flag{
    background-color: #019CDA;
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    padding: 5px 15px;
    border-radius: 3px;
    font-size: 15px;
    opacity: 1;
    margin: 0px;
}

.viewAll{
    text-align: center;
    padding: 50px 0px;
}